@import url("dock.css") screen;
@import url("window.css") screen;

@font-face {
    font-family: 'digital-7_monoitalic';
    src: url('fonts/digital-7_mono_italic-webfont.eot');
    src: url('fonts/digital-7_mono_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/digital-7_mono_italic-webfont.woff2') format('woff2'),
         url('fonts/digital-7_mono_italic-webfont.woff') format('woff'),
         url('fonts/digital-7_mono_italic-webfont.ttf') format('truetype'),
         url('fonts/digital-7_mono_italic-webfont.svg#digital-7_monoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'digital-7_italicitalic';
    src: url('fonts/digital-7_italic-webfont.eot');
    src: url('fonts/digital-7_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/digital-7_italic-webfont.woff2') format('woff2'),
         url('fonts/digital-7_italic-webfont.woff') format('woff'),
         url('fonts/digital-7_italic-webfont.ttf') format('truetype'),
         url('fonts/digital-7_italic-webfont.svg#digital-7_italicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

::-moz-selection { background:rgba(124,196,255,0.7); }
::selection      { background:rgba(124,196,255,0.7); }

html, body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size:12px;
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	background:#000;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

/*-----------------------------------------------------------------------------------*/
/*	01.	Boot
/*-----------------------------------------------------------------------------------*/

#pageLoading {
	background:#000;
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;

}

#pageLoading .apple-logo {
	position:absolute;
	width:120px;
	height:120px;
	left:50%;
	top:50%;
	margin-left:-60px;
	margin-top:-60px;
	background:url(../img/apple-logo-boot.png) center no-repeat;
	visibility:hidden;
}

#pageLoading .spinner {
	background:url(../img/spinnerSmall.gif) no-repeat;
	width:36px;
	height:39px;
	position:absolute;
	left:50%;
	top:75%;
	margin-left:-18px;
	margin-top:-19px;
	visibility:hidden;
}


#page {
	background:url(../img/Andromeda-Galaxy.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
#page.vis {
	visibility:visible;
	opacity:1;
	z-index:0;
	-moz-animation:none;
	-webkit-animation:none;
}
#head.vis {
	visibility:visible;
	opacity:1;
	z-index:1000;
	-moz-animation:none;
	-webkit-animation:none;
}

#head {
	visibility:hidden;
	opacity:0;
	background: #e9e9e9;
	background: -moz-linear-gradient(top,  #e9e9e9 0%, #bbbabb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#bbbabb));
	width:100%;
	height:21px;
	position:fixed;
	z-index:1000;
	border-bottom:1px solid #444444;
	box-shadow:0px 0px 10px #141414;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
#head nav#menu-dx{
	position:absolute;
	right:10px;
	top:0;
	line-height:21px;
}
#head nav#menu-dx ul {
	margin:0;
	padding:0;
}
#head nav#menu-dx ul li {
	float:left;
	position:relative;
	height:21px;
}
	#head nav#menu-dx ul li.wireless a {
	background:url(../img/wireless-icon.png) 6px 2px no-repeat;
    display: block;
    position: relative;
    text-indent: -9999px;
	width:25px;
	height:21px;
	top:0px;
	padding:0 5px;
}
#head nav#menu-dx ul li.username a {
	font-weight:bold;
}
#head nav#menu-dx ul li.time {
	font-size:13px; 
	color:#000;
	text-shadow: 0 1px 1px #dbdbdb;
	padding:0 5px;
}
#head nav#menu-dx ul li.time #DateAbbr {
	padding-right:5px;
}
#head nav#menu-dx ul li a {
	display:block;
	color:#000;
	font-size:13px;
	text-decoration:none;
	text-shadow: 0 1px 1px #dbdbdb;
	padding:0 5px;
	font-weight:400;
}

#head nav#menu{
	position:absolute;
	left:10px;
	top:0;
	line-height:21px;
}
#head nav#menu ul {
	margin:0;
	padding:0;
}
#head nav#menu ul li {
	float:left;
	position:relative;
	height:21px;
}
li#apple a {
	background:url(../img/apple-logo.png) no-repeat 0px 0px;
    display: block;
    text-indent: -9999px;
    top: 2px;
	padding:0 10px 0 10px;
    width: 20px;
	height: 21px;
}

li#apple  a:hover {
	background-position:0px -19px;
}

li#apple ul li:hover {
	background-position:0px -19px;
}


#head nav#menu ul li a {
	display:block;
	color:#000;
	font-size:13px;
	text-decoration:none;
	text-shadow: 0 1px 1px #dbdbdb;
	padding:0 10px;
	font-weight:400;
}
#head nav#menu ul li.here a {
	font-weight:bold;
}
#head nav#menu ul li:hover {
	background: #7793f5;
	background: -moz-linear-gradient(top,  #7793f5 0%, #406df2 50%, #275af1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7793f5), color-stop(50%,#406df2), color-stop(100%,#275af1));
	border-bottom:1px solid #1746d7;
}
#head nav#menu ul li:hover a {
	color:#fff;
	text-shadow:none;
}
#head nav#menu ul li.apple:hover a {
	background-position:10px -19px;
}

#head nav#menu ul li ul.sublist {
	float: left;
    left: 0;
	top:22px;
	list-style:none;
    margin: 0;
    padding: 0;
    position: absolute;
	background:rgba(255,255,255,0.95);
	box-shadow:0 6px 12px rgba(0,0,0,0.7);
	border-radius:0 0 5px 5px;
	visibility:hidden;
}
#head nav#menu ul li ul.sublist li {
    clear: both;
    padding: 0;
	margin:0;
	padding:0 0 0 22px;
	width:200px;
	font-size:13px;
	line-height:20px;
}
#head nav#menu ul li:hover ul.sublist {
	visibility:visible;
}
#head nav#menu ul li ul.sublist li:hover {
	color:#fff;
}
#head nav#menu ul li ul.sublist li a {
	color:#000;
	text-indent:0;
    width: 200px;
	background-image:none;
	padding:0;
	font-weight:normal;
	display:block;
}
#head nav#menu ul li ul.sublist li:hover a {
	color:#fff;
}
#head nav#menu ul li ul.sublist li:first-child {
	margin:5px 0 0 0;
}
#head nav#menu ul li ul.sublist li:last-child {
	margin:0 0 5px 0;
}
#head nav#menu ul li ul.sublist li.divider {
	border-top:1px solid #e2e2e2;
	height:1px;
	background:none;
	margin:5px 0 4px 0;
}
#head nav#menu ul li ul.sublist li.divider:hover {
	border-top:1px solid #e2e2e2;
}
#head nav#menu ul li ul.sublist li:hover {
	border:none;
}
#head nav#menu ul li ul.sublist li.disable {
	color:#969696;
}
#head nav#menu ul li ul.sublist li.disable:hover {
	background:none;
}
#head nav#menu ul li ul.sublist li span.arrow {
	position:relative;
	display:inline-block;
	width:0;
	height:0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left:9px solid rgba(0,0,0,0.5);
	top:5px;
	right:10px;
	text-indent:-9999px;
	float:right;
}
#head nav#menu ul li ul.sublist li:hover span.arrow {
	border-left-color:#fff;
}
#head nav#menu ul li ul.sublist li.disable span.arrow, #head nav#menu ul li ul.sublist li.disable:hover span.arrow {
	border-left-color:rgba(0,0,0,0.35);
}
#head nav#menu ul li ul.sublist li ul.sublist-menu {
	float: left;
    left: 100%;
	top:-5px;
	list-style:none;
    margin: 0;
    padding: 0;
    position: absolute;
	background:rgba(255,255,255,0.95);
	box-shadow:4px 9px 12px rgba(0,0,0,0.7);
	border-radius:0 5px 5px 5px;
	visibility:hidden;
	color:#000;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li {
    clear: both;
    padding: 0;
	margin:0;
	padding:0 0 0 22px;
	width:200px;
	font-size:13px;
	line-height:20px;
}
#head nav#menu ul li ul.sublist li:hover ul.sublist-menu {
	visibility:visible;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li:hover {
	color:#fff;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li:first-child {
	margin:5px 0 0 0;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li:last-child {
	margin:0 0 5px 0;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li.divider {
	border-top:1px solid #e2e2e2;
	height:1px;
	background:none;
	margin:5px 0 4px 0;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li.divider:hover {
	border-top:1px solid #e2e2e2;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li:hover {
	border:none;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li.disable {
	color:#969696;
}
#head nav#menu ul li ul.sublist li ul.sublist-menu li.disable:hover {
	background:none;
}

a.button.about {
	width:118px;
}
a.button {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	font-size: 11px;
	border-radius: 4px;
	border:1px solid #9a9a9a;
	text-decoration: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-weight:normal;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.09);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(0.5, #ECECEC),color-stop(0.5, #F3F3F3),color-stop(1, #FFFFFF));
	background-image:-moz-linear-gradient( center bottom, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFFFFF 100%);
	box-shadow:inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);	
	cursor:pointer;
}

a.button:active {
	box-shadow:inset 0 16px 0 rgba(0,115,215,0.3), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
	background-image:-webkit-gradient( linear, left bottom, left top, color-stop(0, #D3F7FD), color-stop(0.5, #87C5FB), color-stop(0.5, #A1D1F9), color-stop(1, #D4E9FC));
	background-image:-moz-linear-gradient( center bottom, #D3F7FD 0%, #87C5FB 50%, #A1D1F9 50%, #D4E9FC 100% );
	border-top-color:#5a5caf;
	border-bottom-color:#52536f;
	border-left-color:#56578f;
	border-right-color:#56578f;
}

a.button.blink {
	height: 19px;
	line-height: 19px;
	font-size: 12px;
	text-align:center;
	float:right;
	margin:10px 0 10px 15px;
	padding:0 20px;
	box-shadow:inset 0 19px 0 rgba(0,115,215,0.3), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
	background-image:-webkit-gradient( linear, left bottom, left top, color-stop(0, #D3F7FD), color-stop(0.5, #87C5FB), color-stop(0.5, #A1D1F9), color-stop(1, #D4E9FC));
	background-image:-moz-linear-gradient( center bottom, #D3F7FD 0%, #87C5FB 50%, #A1D1F9 50%, #D4E9FC 100% );
	border-top-color:#5a5caf;
	border-bottom-color:#52536f;
	border-left-color:#56578f;
	border-right-color:#56578f;
	-webkit-animation:blinking 1s infinite ease-in-out;
	-moz-animation:blinking 1s infinite ease-in-out;
}
a.button.simple {
	height: 19px;
	line-height: 19px;
	font-size: 12px;
	text-align:center;
	float:right;
	margin:10px 0 10px 15px;
	padding:0 20px;
	box-shadow:inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);	
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(0.5, #ECECEC),color-stop(0.5, #F3F3F3),color-stop(1, #FFFFFF));
	background-image:-moz-linear-gradient( center bottom, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFFFFF 100%);
}
a.button.blink:active, a.button.simple:active {
	box-shadow:inset 0 19px 0 rgba(0,115,215,0.3), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
	background-image:-webkit-gradient( linear, left bottom, left top, color-stop(0, #D3F7FD), color-stop(0.5, #87C5FB), color-stop(0.5, #A1D1F9), color-stop(1, #D4E9FC));
	background-image:-moz-linear-gradient( center bottom, #D3F7FD 0%, #87C5FB 50%, #A1D1F9 50%, #D4E9FC 100% );
	border-top-color:#5a5caf;
	border-bottom-color:#52536f;
	border-left-color:#56578f;
	border-right-color:#56578f;
	-moz-animation:none;
	-webkit-animation:none;
}

@-webkit-keyframes blinking {
	0% { -webkit-box-shadow:inset 0 19px 0 rgba(0,115,215,0), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);}
	50% { -webkit-box-shadow:inset 0 19px 0 rgba(0,115,215,0.2), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);}
	100% { -webkit-box-shadow:inset 0 19px 0 rgba(0,115,215,0), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09); }
}

@-moz-keyframes blinking {
	0% { -moz-box-shadow:inset 0 19px 0 rgba(0,115,215,0), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);}
	50% { -moz-box-shadow:inset 0 19px 0 rgba(0,115,215,0.2), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);}
	100% { -moz-box-shadow:inset 0 19px 0 rgba(0,115,215,0), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09); }
}




.transpbut {
  cursor:pointer;
  padding-left: 0px;
  position: absolute;
  top: 0px;
  left: 0px;  
  padding: 0px;
}

.hmi-wrap {
  border: 1px transparent solid;
}











ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:transparent;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#8d8d8d;background-image:url("../img/subbk.png");border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;font-size:8pt;padding:0;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:4px 1px 1px 0;
	display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 6px;}
ul#css3menu1 ul>li{
	margin:6px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:11px Arial;color:#666;cursor:pointer;padding:5px 5px;background-color:background-repeat:repeat;border-width:0;border-style:solid;border-color:transparent;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#0078FF;border-color:#F8F8F8;border-style:solid;color:#FFF;}
ul#css3menu1 > li.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:8px 20px;}
ul#css3menu1 > li.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#E7E5E5;}
ul#css3menu1 > li.switch:hover:before{
	background:#444444;}
.c3m-switch-input{
	display:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li > a.pressed{
	background-color:#0078FF;border-style:solid;border-color:#F8F8F8;color:#FFF;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	background-color:background-image:none;background-position:0 0;border-width:0 0 0 0;border-style:solid;border-color:transparent;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;font:bold 11px Arial;color:#444444;text-decoration:none;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu > a.pressed{
	background-color:#666666;background-image:url("../img/mainbk.png");background-position:0 100%;border-style:solid;border-color:#F8F8F8;color:#F8F8F8;text-decoration:none;}
ul#css3menu1 li.subfirst>a{
	border-radius:9px 9px 0 0;-moz-border-radius:9px 9px 0 0;-webkit-border-radius:9px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu1 li.sublast>a{
	border-radius:0 0 9px 9px;-moz-border-radius:0 0 9px 9px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:9px;-webkit-border-bottom-left-radius:9px;}
@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu,ul#css3menu1 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 285px) {
	ul#css3menu1 {
		width: 100%;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}

.menuicon {
	position:absolute;
  	left:5px;
  	top:2px
}	
	
.menuli {
	position:absolute;
  	left:25px;
  	top:2px
}		
	
	
	
	
actionNav ul{height:100%; width:100%;}
actionNav li{
	height:22px; 
	border-bottom:1px solid #444444; 
	border-color: #8e8e97;
  	background-color: #ffffff;
}
actionNav li .cWrap {position:relative;}

actionNav li .cName {visibility:visible;cursor:pointer;float:left;position:absolute;left:26px;top:3px;}
actionNav li .cButton {visibility:visible;cursor:pointer;float:left;position:absolute;right:10px;top:3px;}
actionNav li .cRun {visibility:visible;cursor:pointer;float:left;position:absolute;right:38px;top:3px;}
actionNav li .cDeleteActionShow {visibility:visible;cursor:pointer;padding:3px;}
actionNav li .cDeleteActionRemove {visibility:hidden;cursor:pointer;padding:3px;}
actionNav li .cDeleteEventShow {visibility:visible;cursor:pointer;padding:3px;}
actionNav li .cDeleteEventRemove {visibility:hidden;cursor:pointer;padding:3px;}
actionNav li .cIDShow {visibility:visible;float:left;position:absolute;left:5px;top:3px;}
actionNav li .cIDRemove {visibility:hidden;float:left;position:absolute;left:5px;top:3px;}
actionNav ul{overflow:hidden; overflow-y:scroll;}	
	
	
	
	

.jqx-grid-selectionarea-custom
{
  border-color: #8e8e97;
  background-color: #ffffff;
}
.jqx-widget-custom .jqx-grid-cell-sort-custom, .jqx-widget-custom .jqx-grid-cell-filter-custom, .jqx-widget-custom .jqx-grid-cell-pinned-custom, .jqx-grid-cell-sort-custom, .jqx-grid-cell-filter-custom, .jqx-grid-cell-pinned-custom
{
  background-color: #d7d9df;
  color: #222222;
  text-shadow: none;
}
.jqx-widget-custom .jqx-grid-cell-alt-custom, .jqx-widget-custom .jqx-grid-cell-sort-alt-custom, .jqx-widget-custom .jqx-grid-cell-pinned-alt-custom, .jqx-widget-custom .jqx-grid-cell-filter-alt-custom, .jqx-grid-cell-alt-custom, .jqx-grid-cell-sort-alt-custom, .jqx-grid-cell-filter-alt-custom
{
  background-color: #d7d9df;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-hover-custom, .jqx-widget-custom .jqx-grid-cell-hover-custom
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #015DE6;
  background-color: #058CF5;
  background-image: -moz-linear-gradient(top, #058CF5, #015DE6);
  background-image: -ms-linear-gradient(top, #058CF5, #015DE6);
  background-image: -o-linear-gradient(top, #058CF5, #015DE6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#058CF5), to(#015DE6));
  background-image: -webkit-linear-gradient(top, #058CF5, #015DE6);
  background-image: linear-gradient(top, #058CF5, #015DE6);
  background-image: linear-gradient(to bottom, #058CF5, #015DE6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-custom, .jqx-widget-custom .jqx-grid-cell-selected-custom
{
  color: #ffffff;
  text-shadow: none;
  border-color: #014ab8;
  background-color: #058CF5;
  background-image: -moz-linear-gradient(top, #058CF5, #015DE6);
  background-image: -ms-linear-gradient(top, #058CF5, #015DE6);
  background-image: -o-linear-gradient(top, #058CF5, #015DE6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#058CF5), to(#015DE6));
  background-image: -webkit-linear-gradient(top, #058CF5, #015DE6);
  background-image: linear-gradient(top, #058CF5, #015DE6);
  background-image: linear-gradient(to bottom, #058CF5, #015DE6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-custom
{
  color: #ffffff;
  text-shadow: none;
  border-color: #014ab8;
  background-color: #058CF5;
  background-image: -moz-linear-gradient(top, #058CF5, #015DE6);
  background-image: -ms-linear-gradient(top, #058CF5, #015DE6);
  background-image: -o-linear-gradient(top, #058CF5, #015DE6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#058CF5), to(#015DE6));
  background-image: -webkit-linear-gradient(top, #058CF5, #015DE6);
  background-image: linear-gradient(top, #058CF5, #015DE6);
  background-image: linear-gradient(to bottom, #058CF5, #015DE6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}


